.modal {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: white;
  transform: translate(100%, 0%);
  transition: all 1s;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  &.active {
    opacity: 1;
    // width: 55%;
    transform: translate(0%, 0%);
    transition: all 1s;
    z-index: 9999;
  }

  &__content {
    & label {
      font-size: var(--font-medium);
      color: var(--dark-grey-color);
      padding-right: 2rem;
    }

    &--item {
      padding: 1rem;
    }
    // position: absolute;
    // top: 60%;
    // left: 50%;
    // width: 100%;
    // height: 100%;
    // transform: translate(-50%, -50%);
    // background-color: white;
    // // padding: 20px;
    // border-radius: 5px;
    // box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
}
